{#<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">#}
{#<html xmlns="http://www.w3.org/1999/xhtml">#}
{#<head>#}
{#<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />#}
{#<title>Untitled Document</title>#}
{#</head>#}
{##}
{#<body>#}
{#<form id="form1" name="form1" method="post" action="/login_post">#}
{#  <table width="200" border="1">#}
{#    <tr>#}
{#      <td width="104">username</td>#}
{#      <td width="80"><label for="textfield2"></label>#}
{#      <input type="text" name="textfield" id="textfield2" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td>password</td>#}
{#      <td><label for="textfield3"></label>#}
{#      <input type="password" name="textfield2" id="textfield3" /></td>#}
{#    </tr>#}
{#    <tr>#}
{#      <td colspan="2"><blockquote>#}
{#        <blockquote>#}
{#          <p>#}
{#            <input type="submit" name="button" id="button" value="login" />#}
{#          </p>#}
{#        </blockquote>#}
{#      </blockquote></td>#}
{#    </tr>#}
{#  </table>#}
{#</form>#}
{#</body>#}
{#</html>#}


<!doctype html>
<html lang="en">
  <head>
  	<title>Login 08</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="/static/login/css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">WELCOME</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
		      	<h3 class="text-center mb-4">Have an account?</h3>
						<form action="/login_post" method="post" class="login-form">
		      		<div class="form-group">
		      			<input type="text" class="form-control rounded-left" placeholder="Username" name="textfield" required>
		      		</div>
	            <div class="form-group d-flex">
	              <input type="password" class="form-control rounded-left" placeholder="Password" name="textfield2" required>
	            </div>
	            <div class="form-group d-md-flex">
	            	<div class="w-50">
{#	            		<a href="/forgot_password">Forgot Password</a>#}
								</div>
								<div class="w-50 text-md-right">
									<a href="/user_reg">Create an account</a>
								</div>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="btn btn-primary rounded submit p-3 px-5">LOGIN</button>
	            </div>

	          </form>
	        </div>
				</div>
			</div>
		</div>
	</section>

	<script src="/static/login/js/jquery.min.js"></script>
  <script src="/static/login/js/popper.js"></script>
  <script src="/static/login/js/bootstrap.min.js"></script>
  <script src="/static/login/js/main.js"></script>

	</body>
</html>

